<!-- HEADER -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom CSS Example</title>
    
</head>
<body>

<div class="linea text-center" id="conten2">
    <h1 class="texto">Extremidades Superiores</h1>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-3 filtro-bg-white ">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="filtro1Dropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Hombro
                </button>
                <ul class="dropdown-menu" aria-labelledby="filtro1Dropdown">
                    <li><a class="dropdown-item">Opción 1</a></li>
                    <!-- Agrega más opciones según sea necesario -->
                </ul>
            </div>
            <a href="/pizarra">
                <img src="./assets/imgCont1.png" alt="Imagen 1">
            </a>
        </div>
        <!-- Agrega más columnas según sea necesario -->
    </div>
</div>

</body>
</html>



